sup {
    color: red;
}

#apply-filters,
#clear-filters {
    align-self: flex-end;
    margin-top: 10px;
}

#patient-table-container {
    max-height: 60vh;
}

    #patient-table-container table tbody tr:hover {
        cursor: pointer;
    }

#buttons {
    margin: 20px 0px;
}

#appointment-block {
    flex-wrap: nowrap;
    margin-bottom: 10px;
}

#view-form {
    display: grid;
    grid-template-areas: "info info info buttons"
        "docs docs appointments appointments";
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto auto;
    gap: 30px 10px;
}

#partial-insert-view {
    background-color: lavender;
}

#patient-info {
    grid-area: info;
    background-color: white;
    border-radius: 15px;
    padding: 10px;
}

#patient-buttons {
    grid-area: buttons;
    justify-content: flex-start;
}

    #patient-buttons button.btn {
        align-self: stretch;
    }

#patient-docs {
    grid-area: docs;
    background-color: white;
    border-radius: 15px;
    padding: 10px;
}

#patient-appointments {
    grid-area: appointments;
    background-color: white;
    border-radius: 15px;
    padding: 10px;
}

#documents-table-container,
#appointments-table-container {
    height: 40vh;
}

.doc-tr td:hover {
    cursor: pointer;
}
